.kBjSXI {
    position: fixed;
    z-index: 1000;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    filter: none !important;
}
.dialog {
    position: absolute;
    display: flex
;
    flex-direction: column;
    left: 50%;
    top: 50%;
    width: 464px;
    height: 720px;
    margin: -375px 0px 0px -280px;
    transition-property: width, height, margin-left, margin-top;
    transition-duration: 0.5s;
    border-radius: 1.25rem;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
.dialog-back {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 11;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 3.75rem;
    height: 3.75rem;
}
.dialog-back svg {
    transform: rotate(180deg);
    width: 16px;
    height: 16px;
}
.hxODWG {
    width: 1.4em;
    height: 1.4em;
    fill: rgba(153, 164, 176, 0.6);
}
.dialog-head.has-back {
    margin-left: 3.125rem;
}
.dialog-head.has-close {
    margin-right: 3.75rem;
}
.dialog-head {
    position: relative;
    z-index: 10;
    flex: 0 0 auto;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    height: 3.75rem;
    margin-left: 1.125rem;
    transition: 0.5s;
}
.dialog-head {
    position: relative;
    z-index: 10;
    flex: 0 0 auto;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    height: 3.75rem;
    margin-left: 1.125rem;
    transition: 0.5s;
}
.fLASqZ {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 11;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 3.75rem;
    height: 3.75rem;
}
.fLASqZ svg {
    transition: transform 0.5s cubic-bezier(0.36, 0.66, 0.04, 1);
    cursor: pointer;
    font-size: 0.75rem;
}
.no-style {
    padding-top: 3.75rem;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.dialog-body {
    position: absolute;
    inset: 0px;
    display: flex
;
    overflow: hidden;
}
.dialog-body > div {
    flex: 1 1 0%;
}
.dialog-head .dialog-title {
    font-size: 1rem;
    margin: 0px;
    font-weight: bold;
    flex: 1 1 0%;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(49, 55, 61);
}
.fLASqZ:hover svg {
    transform: rotate(-90deg);
    fill: rgb(95, 105, 117);
}
.dziFBu {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
.dziFBu .tabs-navs {
    display: flex;
    margin: 0.875rem auto;
    flex: 0 0 auto;
    width: 544px;
    max-width: 100%;
}
.kQfmQV .tabs-navs {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 2.25rem;
    position: relative;
    border-radius: 1.125rem;
    background-color: rgba(233, 234, 242, 0.4);
}
.kQfmQV .tabs-nav.is-active {
    color: rgb(245, 246, 247);
    font-weight: bold;
}
.kQfmQV .tabs-nav {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 1 1 0%;
    height: 100%;
    cursor: pointer;
    white-space: nowrap;
    width: 100%;
    z-index: 1;
    color: rgba(153,164,176,.8);
}
.dziFBu .tabs-nav {
    flex: 1 1 0%;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px;
}
.kQfmQV .tabs-navs .bg {
    border-radius: 1.125rem;
    background-image: linear-gradient(to left, rgb(85, 89, 102), rgb(85, 89, 102), rgb(88, 174, 20));
    opacity: 0.4;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: right 0.2s ease-out, left 0.3s ease-out;
    transform: translateZ(0px);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 0.3125rem;
}
.dziFBu .tabs-view {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
}
.fyPjDy {
    flex: 1 1 auto;
    height: 0px;
}
.jScFby {
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    touch-action: pan-y;
    overscroll-behavior: contain;
}
.hBFXqQ {
    padding: 0px 14px;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    position: relative;
    background-color: rgb(255, 255, 255);
    min-height: 100%;
    overflow: hidden;
}
.iUeetX {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0px;
}
.eMoXGr {
    position: relative;
    z-index: 1;
    text-align: center;
    border-collapse: collapse;
}
.iUeetX td:first-child {
    border-radius: 0.625rem 0px 0px 0.625rem;
}
.iUeetX th:first-child, .iUeetX td:first-child {
    text-align: left;
    font-size: 13px
}
.iUeetX td, .iUeetX th {
    color: rgba(95, 105, 117, 0.8);
    padding: 1rem 0.875rem;
    border: none;
}
.eMoXGr td, .eMoXGr th {
    color: rgba(152, 167, 181, 0.5);
    padding: 1rem 0.875rem;
    border: none;
}
.kkZJui {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 0.75rem 0.75rem 0.75rem 1.25rem;
    flex: 0 0 auto;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    z-index: 20;
}
.gOHquD {
    position: relative;
    height: 2.5rem;
    opacity: 1;
}
.fKBqkZ {
    width: 190px;
}
.fKBqkZ .select-trigger {
    padding: 0px 0.9375rem;
}
.gOHquD .select-trigger {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    cursor: pointer;
    padding: 0px 1.25rem;
    user-select: none;
    border-radius: 1.25rem;
    background-color: rgb(23, 24, 27);

}
.fKBqkZ .currency-label {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.fKBqkZ .coin-icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.3125rem;
}
.gOHquD .select-trigger .arrow > svg {
    font-size: 0.625rem;
    transition: transform 0.5s cubic-bezier(0.36, 0.66, 0.04, 1);
}
.hxODWG {
    width: 1.4em;
    height: 1.4em;
    fill: rgba(95, 105, 117, 0.6);
}
.dXTFyi {
    display: flex
;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}
.dXTFyi .select {
    width: 6em;
    height: 2rem;
}
.gOHquD {
    position: relative;
    height: 2.5rem;
    opacity: 1;
}
.gOHquD .select-trigger {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    cursor: pointer;
    padding: 0px 1.25rem;
    user-select: none;
    border-radius: 1.25rem;
    background-color: rgb(23, 24, 27);
}
.dXTFyi .select-trigger {
    font-weight: 800;
    color: rgb(245, 246, 247);
    background-color: rgba(24, 25, 29, 0.6);
}
.fKBqkZ .currency-label {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.dmcoXZ {
    height: 2rem;
    line-height: 2rem;
    margin: 0px 0.5rem 0px 24px;
    font-size: 0.75rem;
    color: rgba(153, 164, 176, 0.6);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dORpLZ.pages-wrap {
    background-color: rgba(24, 25, 29, 0.6);
    padding: 0px 1.125rem;
}
.cfwrSE .tb-bg {
    border-top-left-radius: 0px;
}
.eowaiE {
    padding: 0px 14px;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    position: relative;
    background-color: rgb(23, 24, 27);
    min-height: 100%;
    overflow: hidden;
}
.cfwrSE .time {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dORpLZ {
    display: flex
;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 2rem;
    border-radius: 2rem;
    overflow: hidden;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
}
.dORpLZ.page-pn {
    margin-left: 0.75rem;
}
.jrpAIs.page-pn button.disabled {
    background-color: rgba(45, 48, 53, 0.4);
}
.dORpLZ.page-pn .previous-btn {
    margin: 0px 1px 0px 0px;
}
.dORpLZ.page-pn .disabled {
    cursor: not-allowed;
}
.jrpAIs.page-pn button {
    background-color: rgba(45, 48, 53, 0.6);
}
.dORpLZ.page-pn button {
    width: 2.125rem;
    height: 2rem;
    margin: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.dORpLZ.page-pn .previous-btn .icon {
    transform: rotate(180deg);
}
.jrpAIs.page-pn button.disabled svg {
    fill: rgba(153, 164, 176, 0.2);
}
.dORpLZ .icon {
    width: 1rem;
    height: 1rem;
}
.gOHquD .select-trigger .arrow {
    width: 2.5rem;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    top: 0px;
}
.jVnuYs {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 18.75rem;
}
.hBFXqQ::after {
    content: "";
    background-color: rgba(233, 234, 242, 0.6);
    height: 3.4375rem;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
.cuPxwd {
    padding: 2.5rem 0px;
    color: rgba(153, 164, 176, 0.6);
    line-height: 1;
    text-align: center;
    height: 100%;
    min-height: 16.25rem;
    position: relative;
}
.cuPxwd img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -6.875rem 0px 0px -6.25rem;
    width: 12.5rem;
    height: 12.5rem;
}
.cuPxwd .msg {
    position: absolute;
    z-index: 1;
    line-height: 1.25rem;
    left: 50%;
    width: 17.5rem;
    top: 50%;
    margin-top: 3.75rem;
    margin-left: -8.75rem;
}
.iUeetX td:first-child {
    border-radius: 0.625rem 0px 0px 0.625rem;
}
.iUeetX th:first-child, .iUeetX td:first-child {
    text-align: left;
}
.iIwwcc td, .iIwwcc th {
    color: rgba(152, 167, 181, 0.5);
    padding: 1rem 0.875rem;
    border: none;
}
.iUeetX td {
    border: 1px solid transparent;
    color: rgb(153, 164, 176);
}
.iUeetX th, .iUeetX td {
    overflow: hidden;
    text-align: center;
    padding: 0.875rem 0.75rem;
}
.cfwrSE .type {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.iIwwcc td, .iIwwcc th {
    color: rgba(152, 167, 181, 0.5);
    padding: 1rem 0.875rem;
    border: none;
}


.dNNmeg {
    color: rgb(237, 99, 0) !important;
}
.erPQzq {
    display: inline-flex
;
    vertical-align: middle;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
}
.eHogsQ {
    color: rgb(93, 160, 0) !important;
}
.iIwwcc.table tbody .amount {
    font-weight: 800;
    margin-left: 0.25rem;
}
.erPQzq .amount-str {
    width: 7em;
    display: inline-block;
}
.iIwwcc {
    position: relative;
    z-index: 1;
    text-align: center;
    border-collapse: collapse;
}
.cfwrSE .scroll-view {
    height: auto;
}
.NPlxl {
    flex: 1 1 auto;
    height: 0px;
}
.iUeetX td, .iUeetX th {
    color: rgba(95, 105, 117, 0.8);
    padding: 1rem 0.875rem;
    border: none;
}
@media screen and (min-width: 621px) {
    * {
        scrollbar-color: var(--scroll-color) transparent;
        scrollbar-width: thin;
        scrollbar-width: none;
    }
}